.header {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
background-color: #1F2937;
 padding: 20px;
 gap: 20px;
 font-style: roboto;
}

.headertext  {
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
  font-style: roboto;
}


a {
  gap:20px
 display: flex;
font-size: 18px;
text-decoration: none;
color:  #E5E7EB;
margin: 10px;
}

.Hero  {
font-size: 40px;
font-weight: bolder;
color: #E5E7EB;

}

.Herowords  {
  color: #E5E7EB

}

.first  {
  display: flex;
  background-color: #1F2937;
  padding-left: 100px;
  padding-top: 40px
  flex: 1 1 auto;
  justify-content: center;
  }

img {
display: flex;
max-height: 90%;
justify-content: center;
align-items: flex-end;
max-width: 90%;
margin-left: 100px;
flex: 1 1 auto;
}

.toptext  {

  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.herobutton  {

display: flex;
max-height: 20px;
max-width: auto;
background-color: aquamarine;
}

.cloud  {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
justify-content: flex-start;
padding-right: 50px;
max-height: 60%;
max-width: 50%;
}

.fest  {
  display: flex;
  flex: 1 1 auto;
  max-height: 50%;
  max-width: 50%;
  margin-right: 130px;
  padding: 10px;
}

.secondblock   {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infohead  {

  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.thirdblock {
  display: flex;
  justify-content: center;
  height: 365px;
background-color: #E5E7EB;
align-items: center;


}

.thirdblocktext {
font-size: 36px;
font-style: italic;
color: #1F2937

}

.fourthblock  {
display: flex;
height: 200px;
justify-content: center;
align-items: center;
}

.insidefourthblock  {
  display: flex;
  background-color: #3882F6;
height: 100px;
width: 700px;
align-items: center;
color: #F9FAF8;
justify-content:  space-around;

}

.buttonblock {
display: flex;
margin: 20px;
}

.fourthblockheader  {
  font-weight: bolder;
  font-size: 22px;
display: flex;
}

.insideblueblock  {

display: flex;
flex-direction: column;
margin: 50px;
}

.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1F2937;
  flex-direction: column;
  height: 100px;
}